.App{
  
    background-image: url('./pastos-700x426.jpeg');
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: scroll;
}